header .bg{
    opacity: 0.1;
    z-index: 0;
    align-items: center;
    margin: 0% !important;
}
header .bg img{
    position: fixed;
    left: 29%;
    top: 10%;
    width: 46%;
    height: auto;
}
   
header, section{
    overflow-x: hidden;
}

header a{
    font-family: Baloo Bhai;
    font-size: 1.5em;
    font-weight: bold;
    color:#526E9A;
}

header .logo-items{
display: inline-block;
}

header .logo-items .navbar-logo{
    width: 13%;
    height: auto;
}
header .navbar{
    position:fixed !important;
}
header .nav-item{
    padding:0.9em;
}
.dropdown-content{
    display: none;
    position: absolute;
    background: #ffffff;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px #000000;
    z-index: 1 ;
}
.dropdown-content a{
    display: inline-block;
    float: left;
    color:black;
    padding:12px 16px;
    font-size: 2vmin;
    text-decoration: none;
}
.dropdown-content a:hover{
    background: #dddddd;
}
.dropdown:hover .dropdown-content{
    display:inline-block;
}
header{
    background: #2969E9;
    background: var(--bggradient);
}
header .nav-item:last-child{
    padding-right: 5em;
}
header .nav-item{
    padding:0.9em;
}

header .navbar-brand {
    font-size:5vmin;
    font-family: Gist Rough Upr Exbold Two Demo;
    margin-top: 1px;
}
header .navbar img{
    margin-left: 10rem;
}
main .section-1{
    padding-top: 20vmin;
}